[Desktop Entry]
Exec=kcmshell4 ufw
Icon=security-high
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/ufw/index.html
X-KDE-Library=kcm_ufw
X-KDE-ParentApp=kcontrol
Name=Firewall
Name[bs]=Zaštitni zid
Name[ca]=Tallafocs
Name[cs]=Firewall
Name[de]=Firewall
Name[es]=Cortafuegos
Name[fi]=Palomuuri
Name[fr]=Pare-feu
Name[gl]=Devasa
Name[hu]=Tűzfal
Name[ko]=방화벽
Name[nl]=Firewall
Name[pl]=Zapora ogniowa
Name[pt]='Firewall'
Name[pt_BR]=Firewall
Name[sk]=Firewall
Name[sv]=Brandvägg
Name[tr]=Güvenlik Duvarı
Name[uk]=Брандмауер
Name[x-test]=xxFirewallxx
Comment=Firewall settings
Comment[bs]=stit  postavke
Comment[ca]=Ajustaments del tallafocs
Comment[cs]=Nastavení firewallu
Comment[de]=Firewall-Einstellungen
Comment[es]=Preferencias del cortafuegos
Comment[fi]=Palomuurin asetukset
Comment[fr]=Paramètres du pare-feu
Comment[gl]=Configuración da devasa
Comment[hu]=Tűzfalbeállítások
Comment[ko]=방화벽 설정
Comment[nl]=Firewall-instellingen
Comment[pl]=Ustawienia zapory ogniowej
Comment[pt]=Configuração da 'firewall'
Comment[pt_BR]=Configurações do firewall
Comment[sk]=Nastavenia firewallu
Comment[sv]=Brandväggens inställningar
Comment[tr]=Güvenlik duvarı ayarları
Comment[uk]=Параметри брандмауера
Comment[x-test]=xxFirewall settingsxx
X-KDE-Keywords=ufw,firewall
X-KDE-Keywords[bs]=ufw,stit
X-KDE-Keywords[ca]=ufw,tallafocs
X-KDE-Keywords[cs]=ufw,firewall
X-KDE-Keywords[de]=ufw,firewall
X-KDE-Keywords[es]=ufw,cortafuegos
X-KDE-Keywords[fi]=ufw,palomuuri
X-KDE-Keywords[fr]=ufw, pare-feu
X-KDE-Keywords[gl]=ufw,firewall, devasa
X-KDE-Keywords[hu]=ufw,tűzfal
X-KDE-Keywords[ko]=ufw,firewall,방화벽
X-KDE-Keywords[nl]=ufw,firewall
X-KDE-Keywords[pl]=ufw,firewall,zapora ogniowa
X-KDE-Keywords[pt]=ufw,firewall
X-KDE-Keywords[pt_BR]=ufw,firewall
X-KDE-Keywords[sk]=ufw,firewall
X-KDE-Keywords[sv]=ufw,brandvägg
X-KDE-Keywords[tr]=ufw,güvenlik duvarı
X-KDE-Keywords[uk]=ufw;firewall;брандмауер;файрвол;фаєрвол;мережа;міжмережевий екран
X-KDE-Keywords[x-test]=xxufw,firewallxx
Categories=Qt;KDE;X-KDE-settings-system;
X-KDE-System-Settings-Parent-Category=network-and-connectivity
