[Desktop Entry]
Exec=kcmshell4 ufw
Icon=security-high
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/ufw/index.html
X-KDE-Library=kcm_ufw
X-KDE-ParentApp=kcontrol
Name=Firewall
Name[de]=Firewall
Name[pt]='Firewall'
Name[pt_BR]=Firewall
Name[sk]=Firewall
Name[sv]=Brandvägg
Name[uk]=Брандмауер
Name[x-test]=xxFirewallxx
Comment=Firewall settings
Comment[de]=Firewall-Einstellungen
Comment[pt]=Configuração da 'firewall'
Comment[pt_BR]=Configurações do firewall
Comment[sk]=Nastavenia firewallu
Comment[sv]=Brandväggens inställningar
Comment[uk]=Параметри брандмауера
Comment[x-test]=xxFirewall settingsxx
X-KDE-Keywords=ufw,firewall
X-KDE-Keywords[de]=ufw,firewall
X-KDE-Keywords[pt]=ufw,firewall
X-KDE-Keywords[pt_BR]=ufw,firewall
X-KDE-Keywords[sk]=ufw,firewall
X-KDE-Keywords[sv]=ufw,brandvägg
X-KDE-Keywords[uk]=ufw;firewall;брандмауер;файрвол;фаєрвол;мережа;міжмережевий екран
X-KDE-Keywords[x-test]=xxufw,firewallxx
Categories=Qt;KDE;X-KDE-settings-system;
X-KDE-System-Settings-Parent-Category=network-and-connectivity
